.sn-v {
    height: 817px;
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
    margin-top: 190px;
    margin-bottom: 200px;
}

.bg-sn-v {
    width: 1131px;
    position: absolute;
    left: 50%;
    margin-left: -565.5px;
    z-index: -1;
}

.content-sn-v {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-v {
    z-index: 1;
    position: absolute;
}

.player-container {
    height: 176px;
    width: 176px;
    z-index: 2;
    position: relative;
}

.bg-f-pl {
    position: absolute;
    width: 100%;
}

.bg-s-pl {
    position: absolute;
    width: 80%;
    top: 50%;
    margin-top: -40%;
    left: 50%;
    margin-left: -40%;
}

.icon-play {
    position: absolute;
    width: 15%;
    top: 50%;
    margin-top: -7.5%;
    left: 50%;
    margin-left: -7.5%;
}

@media screen and (max-width: 1366px) {
    .sn-v {
        height: 680px;
    }
    .img-v {
        width: 1000px;
    }
    .bg-sn-v {
        width: 931px;
        margin-left: -465.5px;
    }
}

@media screen and (max-width: 1280px) {
    .sn-v {
        height: 605px;
    }
    .img-v {
        width: 900px;
    }
    .bg-sn-v {
        width: 831px;
        margin-left: -415.5px;
    }
}

@media screen and (max-width: 1024px) {
    .sn-v {
        height: 535px;
    }
    .img-v {
        width: 800px;
    }
    .bg-sn-v {
        width: 731px;
        margin-left: -365.5px;
    }
}

@media screen and (max-width: 768px) {
    .sn-v {
        height: 535px;
    }
    .img-v {
        width: 100%;
    }
    .bg-sn-v {
        width: 1200px;
        top: -180px;
        left: -150px;
        margin-left: 0;
    }
    .player-container {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 600px) {
    .player-container {
        height: 120px;
        width: 120px;
    }
}

@media screen and (max-width: 480px) {
    .bg-sn-v {
        width: 1000px;
        top: -120px;
        left: -150px;
        margin-left: 0;
    }
    .player-container {
        height: 100px;
        width: 100px;
    }
}