.feature-bar {
    border: red solid;
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.background-feature {
    position: absolute;
    top: 0;
    right: 100px;
    z-index: -2;
}

.wrap-feature-app {
    border: green solid;
    height: 570px;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-context-app {
    border: red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tx-f-a {
    border: green solid;
    height: 91px;
    width: 500px;
    color: #494949;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.desct-f-a {
    border: green solid;
    width: 499px;
    color: #757575;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 37px;
}

.container-features {
    border: red solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.col-app {
    border: black solid;
    height: 130px;
    width: 340px;
    display: flex;
}

.img-fa {
    height: 60px;
    width: 60px;
    border: red solid;
}

.container-ct-ca {
    border: green solid;
    width: 238px;
 
}

.col-tx-f {
   border: yellow solid;
   font-family: 'Lato', sans-serif;
   color: #494949;
   font-size: 24px;
   font-weight: 900;
   line-height: 42px;
}

.col-desc-f {
    border: black solid;
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}