.feature-bar {
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.background-feature {
    position: absolute;
    top: 0;
    right: 100px;
    z-index: -2;
}

.wrap-feature-app {
    height: 570px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-context-app {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tx-f-a {}

.desct-f-a {}

.container-features-choose {
    height: 310px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.col-app {
    height: 130px;
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.img-fa {
    height: 60px;
    width: 60px;
}

.container-ct-ca {
    margin-left: 20px;
    text-align: left;
}

.col-tx-f {
    font-family: 'Lato', sans-serif;
    color: #494949;
    font-size: calc(16px + (24 - 16) * ((100vw - 768px) / (1900 - 768)));
    font-weight: 900;
    margin: 0;
}

.col-desc-f {
    font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1900 - 768)));
    color: #757575;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    margin-top: 23px;
}

@media screen and (max-width: 1800px) {
    .tx-f-a {
        width: 450px;
    }
}

@media screen and (max-width: 1300px) {
    .container-context-app {
        width: 520px;
    }
    .tx-f-a {
        height: 81px;
        line-height: 44px;
    }
    .desct-f-a {
        margin-top: 30px;
        line-height: 25px;
    }
    .col-app {
        height: 120px;
        max-width: 320px;
    }
    .col-desc-f {
        line-height: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .wrap-feature-app {
        height: 670px;
    }
    .container-features-choose {
        height: auto;
        justify-content: center;
        align-content: center;
    }
    .container-context-app {
        width: 520px;
    }
    .tx-f-a {
        height: 81px;
        line-height: 44px;
    }
    .desct-f-a {
        margin-top: 30px;
        line-height: 25px;
    }
    .col-app {
        height: 120px;
        max-width: 320px;
        margin: 10px;
    }
    .col-desc-f {
        line-height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .feature-bar {
        height: auto;
        margin-top: 80px;
    }
    .background-feature {
        display: none;
    }
    .wrap-feature-app {
        height: auto;
    }
    .container-features-choose {
        height: auto;
        justify-content: center;
        align-content: center;
        margin-top: 50px;
    }
    .container-context-app {
        width: 80%;
    }
    .tx-f-a {
        height: auto;
        width: 100%;
        line-height: 35px;
        font-size: calc(22px + (30 - 22) * ((100vw - 360px) / (768 - 360)));
    }
    .desct-f-a {
        width: 100%;
        font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (768 - 360)));
    }
    .col-app {
        height: 120px;
        max-width: 320px;
    }
    .col-tx-f {
        font-size: calc(16px + (20 - 16) * ((100vw - 360px) / (768 - 360)));
    }
    .col-desc-f {
        font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (768 - 360)));
    }
}

@media screen and (max-width: 500px) {
    .container-context-app {
        width: 95%;
    }
    .col-app {
        width: 300px;
    }
    .img-fa {
        height: 40px;
        width: 40px;
    }
}