.section-pricing {
    height: 1370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.background-pricing {
    position: absolute;
    top: 0;
    left: 95px;
    z-index: -2;
}

.wrap-pricing {
    width: 945px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}

.container-pricing {
    height: 575px;
    width: 945px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 81px;
}

.table-pricing {
    height: 497px;
    width: 362px;
    box-shadow: 0 67px 114px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.table-pricing:nth-child(2) {
    position: absolute;
    left: 50%;
    margin-left: -180px;
    height: 569px;
    width: 360px;
    box-shadow: 0 67px 114px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}

.table-pricing:nth-child(2) .button-pricing {

    
    background-image: linear-gradient(to left, #a12299 0%, #d13a75 50%, #d23a74 51%, #f96834 99%, #f96834 100%);
    color: white;

}
.table-pricing:nth-child(2) .button-pricing:hover {
    background: white;
    color: #d23a75;
}

.tx-p {
    color: #494949;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin-bottom: 41px;
}

.desct-p {
    width: 550px;
    text-align: center;
    color: #757575;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.wrap-price-list {
    margin-top: 62px;
    color: #969696;
}

.price-list {
    color: #969696;
    text-transform: uppercase;
    line-height: 72px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.price-container {
    display: flex;
    align-content: flex-end;
}

.price {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
    color: #494949;
}

.space {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 36px;
}

.support {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 36px;
}

.color {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 36px;
}

.account {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 36px;  
}

.button-pricing {
    margin-top: 62px;
    text-decoration: none;
    padding: 9px 50px;
    border-radius: 50px;
    
    color: #d23a75;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.button-pricing:nth-child(2) {
    border: 1px #d23a75 solid;
}

.button-pricing:hover {
    border: 1px #d23a75 solid;
    background-image: linear-gradient(to left, #a12299 0%, #d13a75 50%, #d23a74 51%, #f96834 99%, #f96834 100%);
    color: white;
    text-decoration: none;
}
