@import url('https://fonts.googleapis.com/css?family=Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Lato');

.menu-bar {
    height: 870px;
    position: relative;
}

.background-header {
    overflow: hidden;
    position: absolute;
    top: -65px;
    left: 0;
    height: 1200px;
    width: 100%;
    z-index: -10;
}

.bg-first {
    position: absolute;
    left: 1025px;
    bottom: 270px;
}

.bg-second {
    position: absolute;
    left: 600px;
    bottom: -20px;
}

.container-header-nav {
    display: flex;
    margin-top: 65px; 
    padding: 0 80px;
    z-index: 2;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-container {
    flex-grow: 0;
}

.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-items {
    list-style: none;
    padding: 0 20px;;
}

.menu-items .item-nav {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins' sans-serif;
}

.active {
    border: 1px white solid;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 35px;
    font-family: 'Poppins' sans-serif;
    font-weight: bold;
}

.active:hover {
    border: 1px white solid;
    background: white;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    color: #c8337e;
    padding: 10px 35px;
    font-family: 'Poppins' sans-serif;
    font-weight: bold;
}

.banner {
    max-width: 1170px;
    height: 500px;
    margin-top: 130px;
    margin-left: 260px;
    display: flex;
    flex-direction: row;
    z-index: 4;
}

.caption-container {
    position: relative;
}

.caption {
    flex-grow: 1;
    height: 320px;
    width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caption-tf {
    width: 250px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    background: linear-gradient(to right, #db683a, #b53d72, #8a2795);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
}

.caption-tt {
    width: 650px;
    font-size: 60px;
    font-family: "Poppins";
    color: rgb(74, 74, 74);
    font-weight: bold;
    -moz-transform: matrix( 0.99999954709474,-0.00101170316276,0.00101162946024,1.00007213578337,0,0);
    -webkit-transform: matrix( 0.99999954709474,-0.00101170316276,0.00101162946024,1.00007213578337,0,0);
    -ms-transform: matrix( 0.99999954709474,-0.00101170316276,0.00101162946024,1.00007213578337,0,0);
    margin: 0;
}

.caption-tm {
    width: 500px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: rgb(117, 117, 117);
    margin: 0;
}

.caption-img-container {
    position: relative;
}

.caption-img-container img {
    position: absolute;
}

.button-caption {
    position: absolute;
    text-decoration: none;
    bottom: 7px;
    padding: 30px 60px; 
    border-radius: 5px;
    font-size: 18px;
    font-family: "Poppins"; 
    font-weight: bold;
    color: rgb(255, 255, 255);
    -moz-transform: matrix( 0.99999948830271,-0.00101170310328,0.00101162953557,1.00007221024935,0,0);
    -webkit-transform: matrix( 0.99999948830271,-0.00101170310328,0.00101162953557,1.00007221024935,0,0);
    -ms-transform: matrix( 0.99999948830271,-0.00101170310328,0.00101162953557,1.00007221024935,0,0);
    background-image: -moz-linear-gradient( 180deg, rgb(138,39,149) 0%, rgb(181,61,114) 51%, rgb(219,104,58) 99%);
    background-image: -webkit-linear-gradient( 180deg, rgb(138,39,149) 0%, rgb(181,61,114) 51%, rgb(219,104,58) 99%);
    background-image: -ms-linear-gradient( 180deg, rgb(138,39,149) 0%, rgb(181,61,114) 51%, rgb(219,104,58) 99%);
}

.button-caption:hover {
    text-decoration: none;
    border: #b53d72 solid;
    background: #ffffff;
    color: #b53d72;
}

@media screen and (max-width: 1800px) {

    .logo-container img {
        width: 119px;
    }

    .active {
        border-radius: 4px;
        font-size: 12px;
        padding: 7px 25px;
    }

    .active:hover {
        border-radius: 4px;
        font-size: 12px;
        padding: 7px 25px;
    }

    .menu-items .item-nav {
        font-size: 12px;
    }

    .banner {
        height: 450px;
        margin-left: 260px;
    }

    .caption-container {
        width: 500px;
    }

    .caption {
        height: 250px;
    }

    .caption-tf {
        font-size: 12px;
    }

    .caption-tt {
        font-size: 40px;
        width: 440px;
    }

    .caption-tm {
        font-size: 19px; 
        width: 400px;
    }

    .button-caption {
        bottom: 7px;
        padding: 19px 40px; 
        border-radius: 3px;
        font-size: 12px;
        bottom: 7px;
    }

    .caption-img-container img  {
        width: 800px;
    }
}

@media screen and (max-width: 1600px) {

    .banner {
        height: 400px;
        margin-left: 210px;
    }

    .caption-img-container img  {
        width: 700px;
    }

}

@media screen and (max-width: 1450px) {

    .banner {
        margin-left: 170px;
    }

    .caption-img-container img  {
        width: 700px;
    }

}

@media screen and (max-width: 1400px) {

    .banner {
        margin-left: 120px;
    }

    .caption-img-container img  {
        width: 700px;
    }
}

@media screen and (max-width: 1350px) {

    .banner {
        margin: auto;
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .caption-img-container img  {
        width: 700px;
    }
}

@media screen and (max-width: 1300px) {

    .bg-first {
        position: absolute;
        left: 595px;
        bottom: 270px;
    }
    
    .bg-second {
        position: absolute;
        left: 350px;
        bottom: -20px;
    }
 
    .button-caption {
        padding: 19px 40px; 
        border-radius: 3px;
        font-size: 12px;
        bottom: 20px;
    }

    .caption-img-container img  {
        width: 700px;
    }
}

@media screen and (max-width: 1180px) {

    .button-caption {
        padding: 19px 40px; 
        border-radius: 3px;
        font-size: 12px;
        bottom: 40px;
    }

    .caption-img-container img  {
        width: 650px;
    }
}

@media screen and (max-width: 1140px) {

    .caption-img-container img  {
        width: 600px;
    }
}

@media screen and (max-width: 1100px) {

    .banner {
        margin-left: 10px;
        margin-right: 10px;
    }

    .caption-container {
        width: 450px;
    }
    
    .caption-img-container img  {
        width: 550px;
    }
}

@media screen and (max-width: 1040px) {

    .bg-first {
        display: none;
    }

    .bg-second {
        position: absolute;
        left: 15px;
        bottom: -20px;
    }

    .banner {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
    }

    .caption-container {
      
    }

    .caption {
        width: 100%;
    }

    .caption-tf {
      
   
    }

    .caption-tt {
        font-size: 40px;
        width: 440px;
        text-align: center;
    }

    .caption-tm {
        font-size: 19px; 
        width: 400px;
        text-align: center;
        align-self: center;
    }

    .button-caption {
        left: 50%;
        margin-left: -125px;
    }

    .caption-img-container  {
        display: none;
    }
}

@media screen and (max-width: 890px) {

    .menu {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


@media screen and (max-width: 768px) {

    .container-header-nav {
        height: 400px;
    }

    .nav-container {
        flex-direction: column;
    }

    .logo-container {
        display: flex;
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}