.sn-ab-mg {
    max-width: 1170px;
    margin: 0 auto;
    padding: 120px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-ab-mg {
    width: calc(500px + (555 - 400) * ((100vw - 1300px) / (1900 - 1300)));
}

.wrap-content-mg {
    height: 400px;
    width: 450px;
}

.mg-t {
    margin-top: 35px;
    font-family: 'Poppins', sans-serif;
    color: #494949;
    font-size: calc(27px + (36 - 27) * ((100vw - 768px) / (1900 - 768)));
    font-weight: 700;
    line-height: 54px;
}

.mg-desc {
    font-family: 'Lato', sans-serif;
    color: #757575;
    font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1900 - 768)));
    line-height: 30px;
    font-weight: 400;
    margin-top: 44px;
    margin-bottom: 60px;
}

.mg-button {
    text-decoration: none;
    padding: 30px 58px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #a12299 0%, #d13a75 50%, #d23a74 51%, #f96834 99%, #f96834 100%);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.mg-button:hover {
    text-decoration: none;
    background: #ffffff;
    color: #d13a75;
    border: #d13a75 solid;
}

@media screen and (max-width: 1800px) {
    .mg-button {
        padding: 17px 38px;
        border-radius: 5px;
        font-size: 12px;
    }
    .mg-button:hover {
        text-decoration: none;
        background: #ffffff;
        color: #d13a75;
        border: #d13a75 solid;
    }
}

@media screen and (max-width: 1300px) {
    .img-ab-mg {
        width: calc(480px + (555 - 480) * ((100vw - 1024px) / (1300 - 1024)));
    }
    .sn-ab-mg {
        padding: 120px 10px;
    }
    .wrap-content-mg {
        height: 350px;
    }
    .mg-t {
        margin-top: 25px;
        line-height: 44px;
    }
    .mg-desc {
        line-height: 25px;
        margin-top: 34px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .img-ab-mg {
        width: calc(340px + (480 - 340) * ((100vw - 768px) / (1024 - 768)));
    }
    .sn-ab-mg {
        padding: 120px 10px;
    }
    .wrap-content-mg {
        height: 320px;
        width: 360px;
    }
    .mg-t {
        margin-top: 10px;
        line-height: 40px;
    }
    .mg-desc {
        line-height: 25px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .sn-ab-mg {
        height: auto;
        padding: 50px 0;
        flex-direction: column-reverse;
    }
    .wrap-img-ab-mg {
        width: 70%;
        margin-bottom: 50px;
    }
    .img-ab-mg {
        width: 100%;
    }
    .wrap-content-mg {
        height: 320px;
        width: 75%;
    }
    .mg-t {
        margin-top: 10px;
        line-height: 40px;
        font-size: calc(27px + (30 - 27) * ((100vw - 360px) / (768 - 360)));
    }
    .mg-desc {
        line-height: 25px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (768 - 360)));
    }
}

@media screen and (max-width: 500px) {
    .wrap-img-ab-mg {
        width: 90%;
    }
    .wrap-content-mg {
        width: 90%;
    }
}