.section-question {
    height: 620px;
    width: 1170px;
    margin: 0 auto;
    margin-top: 155px;
    margin-bottom: 160px;
}

.container-context-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-main-contain {
    display: flex;
}

.collapse-wrapper {
    width: 600px;
    margin-top: 95px;
}

.ref-question {
    text-decoration: none;
}

.ref-question:hover {
    text-decoration: none;
}

.alert-btn {
    background: #fafafa;
    display: flex;
    justify-content: space-between;
}

.question {
    font-family: "Poppins";
    font-size: 18px;
    color: rgb(73, 73, 73);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.fa-plus {
    color: #cb357b;
}

.collapse {
    padding: 10px 10px 30px 10px;
}
  
.picture-cotainer-question {
    margin-top: 95px;
}
  
