.section-question {
    height: 620px;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 155px;
    margin-bottom: 160px;
}

.container-context-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-main-contain {
    display: flex;
}

.accordion {
    width: 600px;
    margin-top: 95px;
}

.ref-question {
    text-decoration: none;
}

.ref-question:hover {
    text-decoration: none;
}

.alert-btn {
    background: #fafafa;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
}

.question {
    font-family: "Poppins";
    font-size: calc(12px + (18 - 12) * ((100vw - 768px) / (1920 - 768)));
    color: rgb(73, 73, 73);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.fa-plus {
    color: #cb357b;
}

.fa-minus {
    color: #cb357b;
}

.collapse {
    font-size: calc(10px + (16 - 10) * ((100vw - 768px) / (1920 - 768)));
    padding: 0px 10px 30px 0px;
}

.picture-cotainer-question {
    margin-top: 95px;
}

.image-question {
    width: calc(400px + (642 - 400) * ((100vw - 768px) / (1920 - 768)));
}

@media screen and (max-width: 1280px) {
    .section-question {
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .section-question {
        height: auto;
    }
    .wrapper-main-contain {
        flex-direction: column-reverse;
        align-items: center;
    }
    .picture-cotainer-question {
        margin-top: 95px;
    }
    .image-question {
        width: calc(350px + (642 - 350) * ((100vw - 360px) / (768 - 360)));
    }
    .accordion {
        margin-top: 0px;
        width: 100%;
    }
    .question {
        font-size: calc(12px + (18 - 12) * ((100vw - 360px) / (768 - 360)));
    }
    .collapse {
        font-size: calc(10px + (16 - 10) * ((100vw - 360px) / (768 - 360)));
    }
}
