.section-feature {
    z-index: 10;
    height: 400px;
    width: 1140px;
    margin: 0 auto;
    border: green solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap-col-items {
    border: red solid;
    height: 345px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.col {
    height: 343px;
    width: 360px;
    border: green solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 67px 114px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    
}

.icon {
    height: 100px;
    width: 100px;
    margin-top: 40px;
}

.col-t {
    margin: 0;
    margin-top: 40px;
    color: #494949;
    font-size: 24px;
}

.col-desc {
    margin: 0;
    margin-top: 25px;
    color: #757575;
    font-size: 16px;
}