.section-feature {
    z-index: 10;
    height: 550px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap-col-items {
    height: 345px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.col-item {
    height: 343px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 67px 114px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}

.icon {
    height: 100px;
    width: 100px;
    margin-top: 40px;
}

.col-t {
    width: 245px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    color: #494949;
    font-size: 24px;
    line-height: 24px;
}

.col-desc {
    width: 245px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 25px;
    color: #757575;
    font-size: 16px;
}


@media screen and (max-width: 1800px) {

    .section-feature {
        max-width: 1020px;
    }
    
    .wrap-col-items {
        flex-wrap: wrap;
    }
    
    .col-item {
        height: 300px;
        width: 320px;
    }
    
    .icon {
        height: 70px;
        width: 70px;
    }
    
    .col-t {
        font-size: 20px;
        line-height: 20px;
    }
    
    .col-desc {
        font-size: 12px;
    }
}

@media screen and (max-width: 1170px) {

    .section-feature {
        height: auto;
        width: 100%;
    }

    .wrap-col-items {
        height: auto;
        width: 100%;
        justify-content: inherit;
    }

    .col-item {
        max-width: 330px;
        flex-basis: 360px;
        flex-grow: 1;
        margin: 10px;
    }
}
