.section-feature {
    border: red solid;
    z-index: 10;
    max-width: 1160px;
    margin: 0 auto;
    padding: 150px 0;
}

.wrap-col-items {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.col-item {
    height: calc(330px + (343 - 330) * ((100vw - 768px) / (1900 - 768)));
    width: 360px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 67px 114px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}

.icon {
    height: auto;
    width: calc(70px + (100 - 70) * ((100vw - 768px) / (1900 - 768)));
    margin-top: 40px;
}

.col-t {
    width: 245px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    color: #494949;
    font-size: calc(18px + (24 - 18) * ((100vw - 768px) / (1900 - 768)));
    line-height: 24px;
}

.col-desc {
    width: 245px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 25px;
    color: #757575;
    font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1900 - 768)));;
}

@media screen and (max-width: 768px) {

    .icon {
        width: calc(70px + (100 - 70) * ((100vw - 360px) / (768 - 360)));
    }
    
    .col-t {
        font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (768 - 360)));
    }
    
    .col-desc {
        font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (768 - 360)));;
    }

}

