.footer-section {
    overflow: hidden;
    height: 390px;
    background: #f3f7ff;
    position: relative;
    display: flex;
    align-items: center;
}

.bg-footer {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-bg-first {
    position: absolute;
    top: -130px;
    left: -950px;
    z-index: 3;
}

.footer-bg-second {
    position: absolute;
    top: -370px;
    left: -1000px;
    z-index: 1;
}

.container-footer {
    width: 1170px;
    border: red solid;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.container-social {
    width: 310px;
}

.wrap-social {
    border: green solid;
    width: 210px;
    display: flex;
    justify-content: space-between;
}

.wrap-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #ffffff;
    text-align: center;
}

.btn-social {
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: linear-gradient(to right, #db683a, #b53d72, #8a2795);
    color: rgb(74, 74, 74);
}

.wrap-content-footer {
    border: black solid;
    width: 765px;
    display: flex;
    justify-content: space-between;

}

.container-features {
    border: green solid;
    height: 210px;
    width: 180px;
    display: flex;
    flex-direction: column;
}

.title {

}

.features-footer {
    
}

.feature {

}