.footer-section {
    overflow: hidden;
    height: 390px;
    background: #f3f7ff;
    position: relative;
    display: flex;
    align-items: center;
}

.bg-footer {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-bg-first {
    position: absolute;
    top: -130px;
    left: -950px;
    z-index: 3;
}

.footer-bg-second {
    position: absolute;
    top: -370px;
    left: -1050px;
    z-index: 1;
}

.container-footer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.container-social {
    width: 310px;
}

.logo-container-footer img {
    width: calc(120px + (210 - 120) * ((100vw - 768px) / (1900 - 768)));
}

.wrap-social {
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.develop-block h4 {
    font-size: calc(10px + (14 - 10) * ((100vw - 768px) / (1900 - 768)));
    font-family: "Lato";
    color: rgb(117, 117, 117);
    line-height: 1.714;
    text-align: left;
    margin: 0;
    margin-top: 23px;
}

.btn-social {
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background: white;
    color: #d13a75;
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1);
}

.btn-social:hover {
    background-image: linear-gradient(to left, #a12299 0%, #d13a75 50%, #d23a74 51%, #f96834 99%, #f96834 100%);
    color: #ffffff;
}

.wrap-content-footer {
    width: 765px;
    display: flex;
    justify-content: space-between;
}

.container-features {
    height: 210px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1900 - 768)));
    font-family: "Poppins";
    color: rgb(73, 73, 73);
    font-weight: bold;
    text-align: left;
}

.features-footer {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature {
    text-decoration: none;
    font-size: calc(10px + (14 - 10) * ((100vw - 768px) / (1900 - 768)));
    font-family: "Lato";
    color: rgb(117, 117, 117);
    text-align: left;
    margin: 0;
    padding: 0;
}

.feature:hover {
    text-decoration: none;
    color: rgb(73, 73, 73);
}

@media screen and (max-width: 1700px) {
    .footer-bg-first {
        left: -1050px;
    }
    .footer-bg-second {
        left: -1250px;
    }
}

@media screen and (max-width: 1500px) {
    .footer-bg-first {
        left: -1150px;
    }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {
    .footer-bg-first {
        display: none;
    }
    .container-footer {
        flex-wrap: wrap;
    }
    .container-social {
        flex-grow: 1;
        width: 235px;
    }
    .wrap-content-footer {
        flex-grow: 1;
        width: 517px;
    }
}

@media screen and (max-width: 1024px) {
    .container-features {
        height: 210px;
        width: 130px;
    }
}

@media screen and (max-width: 768px) {
    .footer-section {
        height: auto;
    }
    .container-social {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-container-footer img {
        width: calc(120px + (210 - 120) * ((100vw - 360px) / (768 - 360)));
    }
    .develop-block h4 {
        font-size: calc(10px + (14 - 10) * ((100vw - 360px) / (768 - 360)));
    }
    .wrap-content-footer {
        width: 90%;
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .container-features {
        height: 190px;
        width: 150px;
        margin: 10px;
    }
    .title {
        font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (768 - 360)));
        text-align: center;
    }
    .feature {
        font-size: calc(10px + (14 - 10) * ((100vw - 360px) / (768 - 360)));
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .container-features {
        height: 170px;
    }
}